
/AranhaAmazon/AranhaAmazon/obj/Debug

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### BATCH ###
generated/
.class
commit_sha.temp
tests_output.temp

### Other ###
cinemaPrefs.xml
cinemaPrefs.json
example.xml
example.json
hours.json
radios.json
cards.json
#cinemaPrefs.txt
#wrestlers.json
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/AranhaAmazon.AssemblyInfo.cs
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/AranhaAmazon.AssemblyInfoInputs.cache
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/apphost.exe
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/apphost.exe
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/AranhaAmazon.dll
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/AranhaAmazon.pdb
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/AranhaAmazon.sourcelink.json
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/ref/AranhaAmazon.dll
AranhaAmazon/AranhaAmazon/obj/Debug/net8.0/refint/AranhaAmazon.dll
